<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="AirtelTest">


<parameter name="environment" value="STG"/>
<parameter name="browserName" value="firefox"/>

 <test name="Airtel-Tests" >

  <classes>

 <class name="com.airtel.in.TestLandingPageAndcart"></class>

</classes>
</test> 

</suite>  